.widget_flatdesign_social-media-widget {
	background: transparent;
	padding: 0;
}

.widget_flatdesign_social-media-widget img {
	width: 100%;
	max-width: 175px;
}

.widget_flatdesign_social-media-widget a {
	line-height: 1;
}

.widget_flatdesign_social-media-widget div {
	margin-bottom: 2.762430939%;

	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.15);
	background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.15)));
	background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
	background: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
	background: -o-linear-gradient(left top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
	background: linear-gradient(left top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.15));
}