.widget_flatdesign_social-media-widget {
	padding: 0;
}

.widget_flatdesign_social-media-widget img {
	width: 100%;
	max-width: 175px;
}

.widget_flatdesign_social-media-widget a {
	line-height: 1;
}

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}